.navbar-brand{
    width: 100%;
    & .logo{
        display: block;
        margin: auto;
    }
}
.form-login{
    border: 1px solid #e5e5e5;
    padding: 20px !important;
}
.navbar-expand-lg{
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.btn-channel{
    border: 1px solid #ffb700 !important;
    border-radius: 0;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    display: inline-block;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    text-decoration: none;
    background-color: transparent;
    margin: 0 10px 0 0;
    :hover {
        background-color: #ffb700;
    }
}
// card and all elemment inside.
.card{
    padding-left: 0;
    padding-right: 0;
    .logo{
        display: block;
        margin: auto;
    }
    .card-body{
        padding-bottom: 0;
    }
    .card-title{
        text-transform: capitalize;
    }
    .card-text{
        text-transform: capitalize
    }
    .card-footer{
        background: transparent;
        border:none;
        padding-top: 0;
    }
    hr{
        border-top: 1px solid rgba(0,0,0,.125);
    }
}
    