{% extends 'front/index.html.twig' %}

{% block title %}{{ parent() }} Products!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
     <table id="product" class="table">
        <thead>
            <th>Id</th>
            <th>Id categoria</th>
            <th>Precio</th>
            <th>Fecha de actualizacion</th>
        </thead>
        {% for product in products %}
            <tr>
                {% for key,p in product  %}
                 <td>{{ attribute(product, key)}}</td>
                {% endfor %}
            </td>
        {% endfor %}
     </table>   
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}