
       
       <div class="flex-row">
            <div class="col-12 col-md-4 mx-md-auto">
                <a class="navbar-brand mt-5 mb-3" href="/"><img class="logo" src="https://greenice.com/img/greenice.png" /> </a>
                <div class="d-flex">
                    <form action="{{ path('login') }}" method="post" class="form-login col-12">
                        <div class="form-group">
                            <label for="login_user">{{ 'Email'|trans }}</label>
                            <input class="form-control" placeholder="example@isthrowable.com" id="login_user" type="text" name="_username" value="{{ last_username|default('') }}" />

                        </div>
                        <div class="form-group">
                            <label for="login_pass">{{ 'Contraseña'|trans }}</label>
                            <input type="password" class="form-control" id="login_pass" placeholder="Password" name="_password">
                        </div>
                        <input type="submit" class="btn btn-outline-primary is-btn-default" value="Entrar">
                        <div class="form-check is-remmember">
                            <label for="remember_me" class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" checked />
                                <span class="staylogged">{{ 'Recordar sesión'|trans }}</span>
                            </label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
                {% if error %}
                    <p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
             </div>
        </div>
