{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block nav %}
    {% if app.user is not null %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="https://greenice.com/img/greenice.png" /></a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Todos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Canales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">Desconectar</a>
                </li>
                </ul>
            </div>
            </nav>
            {% endif %}
        {% endblock %}

{% block body %}
    <div class="container">
        {% if app.user is null %}
            {% include 'front/_singin.html.twig' with { 'error':error } %}
        {% else %}
        <div id="channels"></div>    
        {% endif %}
    
    </div>    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

