<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="{% block meta_title %}Amazon API{% endblock %}"/>
        <meta name="author" content="Yus Gamboa"/>
        <meta name="robots" content="index, follow" />
        <meta name="GOOGLEBOT" content="index follow" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block nav %}{% endblock %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('build/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
